header.header {
    padding: 3.5rem 0;
    @include mq-desktop {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    .title {
        h1 {
            margin: 0;
        }
        p {
            margin-top: .8rem;
            padding-bottom: 3rem;
            border-bottom: 1px solid #a8a8a8;
            color: #818181;
            font-weight: 700;
            @include mq-desktop {
                border: none;
                padding-bottom: 0;
            }
        }
    }
    .toggle {
        display: flex;
        justify-content: space-between;
        @include mq-desktop {
            justify-content: center;
            align-items: center;
        }
        p {
            margin-top: 1.2rem;
            color: #818181;
            font-weight: 700;
            padding-right: 2rem;
            @include mq-desktop {
                margin-top: 0;
            }
        }
        .btn {
            margin-top: 1.2rem;
            @include mq-desktop {
                margin-top: 0;
                margin-right: 2rem;
            }
        }
    }
}